// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body
	margin: 0px
	background: url('background/floor.jpg')
	.navi
		background: url('background/navi-bg.jpg')
		font-family: Comic Sans MS
		position: fixed
		width: 100%
		color: snow
		ul
			padding: 0px
			text-align: center
			li
				display: inline-block
				margin-left: 10px
				margin-right: 10px
	.content
		.updates
			width: 900px
			margin-left: auto
			margin-right: auto
			padding-top: 65px
			.update
				background: rgba(255,250,250,0.6)
				box-shadow: 2px 0px 10px 2px rgba(0,0,0,0.2)
				padding: 5px 20px 5px 20px
				font-family: Comic Sans MS

.post-title
	font-weight: bold
	font-size: 1.5em
	display: inline-block
	vertical-align: top
	margin-right: 10px
.post-author
	display: inline-block
	font-size: 0.9em
	color: darkgray
	vertical-align: top
.post-content
	font-size: 0.8em